@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@500;700&display=swap');

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }

  h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
  }
}
